/* #region Global Styles */
*{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    /*...*/
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-shadow: 0 0 10px black;

}
/* #endregion */

/* #region Nav Bar */
nav{
    background-color: black;
    height: clamp(30px, 50px, 50px);
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}
nav a{
    font-size: clamp(1.2rem, 1.5rem, 2rem);
    color: white;
    text-decoration: none;
    position: relative;
}
nav a:hover{
    /* text-decoration: underline; */
}
nav a::after {
    content: ''; /* Create the pseudo-element */
    position: absolute;
    bottom: 0; /* Position it at the bottom of the link */
    left: 0;
    width: 0; /* Initially no width */
    height: 2px; /* Set the height of the underline */
    background-color: white; /* Your desired underline color */
    transition: width 0.4s ease; /* Add a smooth transition */
  }
  
  nav a:hover::after {
    width: 100%; /* Expand the underline on hover */
  }
/* #endregion */

.central-div{
    display: flex;
    flex-direction: column;
    align-items:safe;
    /* justify-content: space-evenly; */
    /* border: 5px solid pink; */
}
.central-div *{
    margin: 1.5%;
}
.calculator-container{
    background-color: black;
}
.calculator-container input{
    min-width: 200px;
    min-height: 40px;
    padding: 12px 20px;

    font-size: 20px;

}
.calculate-button{
    background-color: black;
    border: 3px solid white;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}
.calculate-button:hover{
    background-color: white;
    border: 3px solid black;
    color: black;
}
#result{
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 0 0 10px black;
    text-align: center;
}

#background {
    background-color: #0000BB;
    transition: background-color 2s ease;
}

/* For WebKit-based browsers (Chrome, Safari, Edge, Opera) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

